export ESPN_KEY="AEBL8igQ8T2cqUrG%2BbRoRKZ3x6jd%2BhjYi3%2FgnR%2BooissIg%2B9j3j3oOL2EKYZdaRWz9VsgpuOejzuHSa5rxEXCSx0%2BQt6MGMWbbRx3J3uXer8WYO26qMOV3Gt9WraOXiOcHq%2FVAxTj7482HI350eU2fQ2vKeM%2FQYFQbajyLwXrRsSY6jv9uefDaVGOTHMr3EkzP52%2B49kslGl3J6yq9gm%2FATEcRur4C3ZbYYV%2Bm7UvRms4zPp7xcRtJt%2F16j4BT%2B%2BgIWxo5x8z4UA7y6LYuSbYe%2BkSgW1dHqStvq4NxISv97%2BreMehQPb5X%2F5eOf7j2fHuK7gO6ED6ovQTZJJDSI%2Bm%2F6M"
export LEAGUE_ID="477916617"


